.home{
    display: flex;
    .homecontainer {
        background-color: rgb(255,245,238);
        flex: 6;
    }
    .widgets {
        display: flex;
        padding: 20px;
        gap :20px;
    }
}